.dialogText {
  white-space: pre-wrap;
  font-size: 32px;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  max-height: 245px;
  overflow-y: auto; /* 수직 스크롤이 필요할 때만 스크롤을 표시하고 필요하지 않을 때는 숨김 */
}
