.menuBox {
  position: "absolute";
  bottom: 280;
  right: 155;
}
.menuItem {
  font-family: "ONESHINHANMEDIUM";
  cursor: pointer;
  font-size: 20px;
}
.menuItem:hover {
  background-color: #fc0;
  fill: #fc0;
}
