/* ProgressBar.css */
.progress_container {
  width: 400px;
  height: 32.31px;
  margin: 50px;
  margin-left: 50px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.progress_bar_lay {
  display: flex;
  justify-content: left;
  height: 32.31px;
  align-items: center;
  background: rgba(163, 199, 247, 1);
  border-radius: 100px;
  font-size: 30px;
  position: relative;
}

.progress_container img {
  position: absolute; /* Make the image absolute */
  top: -10px;
  width: 60px;
}

.progress_bar_molly {
  display: flex;
  justify-content: left;
  width: 70px;
  height: 32.31px;
  align-items: center;
  background: #b0a1cc;
  border-radius: 100px;
  font-size: 30px;
  position: relative;
}
