.warp{

}

.character_wrap{
    padding-top: 10px;
    padding-left: 2cqmax;
    position: relative; 
    z-index: 1;
    width: 150px;
}

.quiz_title{
    margin: 0;
    width: 486px;
    height: 61px;
    text-align: left;
    font-size: 20px;
    z-index: 1;
}

.quiz_list{
    border-radius: 500px;
}

.quiz_list:hover {
    background-color: rgba(32, 22, 22, 0.466);
    border-radius: 500px;
    z-index: 1;
}

.quiz_list_txt{
    margin: 0;
    width: 486px;
    height: 61px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
}
