/* StockGameNews.module.css */
.newsWrap {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  animation: slide-up 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes slide-up {
  to {
    bottom: 20px;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-title {
  to {
    top: 160px;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-year {
  to {
    top: -55px;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.newsTitleWrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  animation: slide-up-title 0.5s ease-out forwards;
  opacity: 0;
}

.newsTitle {
  width: 720px;
  list-style: none;
  font-size: 22px;
  font-family: "SOYO Maple Bold";
  font-style: normal;
  font-weight: 700;
  padding: 15px;
  line-height: 1.5;
}

.newsYear {
  font-size: 16px;
  font-family: "SOYO Maple Bold";
  padding: 0px 20px;
}
