.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 1024px;
    margin: 100px auto;
    background-color: var(--lay_background);
    background-image: url("../../assets/images/stars.png");
    background-position: -7px;
    position: relative;
}

.root img {
    width: 100%;
    max-width: 400px;
    height: auto;
    
  }