.root {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height:  767px;
    margin: 100px auto;
    background-color: rgb(255, 145, 145);
    background-image: url("../../assets/images/stars.png");
    position: relative;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
@keyframes backgroundMove {
    0% {
    background-position: 0 0; 
    }
    50% {
    background-position: 0 100%;
    }
    100% {
    background-position: 0 0; 
}
}
.top{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    padding: 68px 20px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}

.character_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.character_wrap img{
    width: 360px;
}

.dialogText{
    width: 850px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 280px;
    white-space: "pre-wrap";
    font-size: 32px;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    z-index: 100;
  }