.root {
  width: 1024px;
  height: 767px;
  margin: 20px auto;
  position: relative;
  background-image: url("../../assets/images/result_success_bg.png");
  background-repeat: repeat;
  animation: backgroundMove 10s linear infinite;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.top {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  padding: 68px 20px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}

.character_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.character_wrap img {
  width: 285px;
  position: absolute;
  top: 60px;
}

.dialogText {
  width: 600px;
  max-height: 165px;
  position: absolute;
  overflow-y: auto;

  top: 540px;
  left: 230px;
  white-space: "pre-wrap";
  font-size: 24px;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  z-index: 100;
}

.layBackground {
  background-color: var(--lay_yellow);
  transition: background-color 1s ease;
  /* animation: fadeIn 1s ease; */
}

.homeIcon {
  width: 83px;
  height: 77px;
  margin-left: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.homeIcon:active {
  transform: scale(0.95); /* 클릭 시 크기를 조절하여 누르는 효과를 줍니다. */
}

.hometop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
