:root {
  --white: #ffffff;
  --black: #000000;
  --shinhan_blue: #0046ff;
  --main_dialog: #ebf3fc;
  --sol_backgroud: #88bde7;
  --sol_text: #1d449b;
  --lay_background: rgba(38, 38, 13, 0.493);
  --lay_blue: #a3c7f7;
  --lay_yellow: #ffe27a;
  --lay_beige: #ffe8d4;
}

body {
  font-family: "Pretendard Variable";
  letter-spacing: -0.1px;
}
