.root {
  width: 1024px;
  height: 767px;
  margin: 20px auto;
  background-color: var(--black);
  position: relative;
  background-image: url("../../assets/images/stars.png");
  background-repeat: repeat;
  animation: backgroundMove 20s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.characterWrap {
  transition: background-color 1s ease;
}

.characterImage {
  position: absolute;
  bottom: 280px;
  left: 380px;
}

.solBackground {
  transition: background-color 0.5  s ease;
  background-image: url("../../assets/images/intro_bg.png");
}

.selectBackground{
  background: linear-gradient(0deg, #a3c7f7 0%, #d4eaf7 100%);
}

.friendsWrap {
  padding: 68px 20px;
  width: 1024px;
  display: flex;
  justify-content: space-around;
}

.dialogText {
  width: 600px;
  height: 100px;
  position: absolute;
  bottom: 120px;
  left: 220px;
  white-space: "pre-wrap";
  font-size: 24px;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  z-index: 100;
}
