.root {
  width: 1024px;
  height: 767px;
  margin: 20px auto;
  position: relative;
  background-image: url("../../assets/images/result_success_bg.png");
  background-color: var(--lay_blue);
  background-repeat: repeat;
  animation: backgroundMove 10s linear infinite;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.top {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.content {
  padding: 68px 20px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}

.character_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character_wrap img {
  width: 270px;
}

.dialogText {
  width: 600px;
  max-height: 165px;
  position: absolute;
  overflow-y: auto;

  top: 540px;
  left: 230px;
  white-space: "pre-wrap";
  font-size: 24px;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  z-index: 100;
}
