.root {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 767px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 224, 224, 0.69) 0%,
    #e0ceee 100%
  );
  position: relative;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  padding: 68px 20px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}

.character_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character_wrap img {
  width: 360px;
}
.dialogText {
  width: 600px;
  height: 100px;
  position: absolute;
  bottom: 120px;
  left: 220px;
  white-space: "pre-wrap";
  font-size: 24px;
  color: var(--black);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  z-index: 100;
}
