@media screen and (min-width: 320px) {
  .wrap {
    margin: 50px;
    padding: 3vw;
  }

  .section2 {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--shinhan_blue);
  }

  .subtitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .nickname,
  .password {
    width: 70vw;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .nickname input,
  .password input {
    width: 70vw;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
  }

  select {
    width: 70vw;
    padding: 12px;
    font-family: Poppins;
    font-size: 18px;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
      no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: var(--white);
    margin-bottom: 10px;
  }

  select::-ms-expand {
    /* for IE 11 */
    display: none;
  }

  .gender {
    display: flex;
    gap: 10px;
  }

  .gender input {
    margin-right: 10px;
  }

  .button {
    width: 70vw;
    height: 70px;
    padding: 10px;
    background-color: var(--shinhan_blue);
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 24px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(163, 199, 247, 1);
  }

  .authImg {
    width: 70vw;
    height: auto;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    justify-content: space-between;
  }

  .nickname,
  .password {
    width: 30vw;
  }

  .button {
    width: 30vw;
  }

  .button:hover {
    background-color: rgba(163, 199, 247, 1);
  }

  .authImg {
    width: 50vw;
    height: auto;
  }

  select {
    width: 30vw;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
}
